@using System.Security.Principal
@if (User.Identity.IsAuthenticated)
{
<ul class="nav navbar-nav navbar-right">
    <li class="navbar-text">Hello @User.Identity.Name!</li>
    @if (User.HasClaim(c => c.Type == "appTenants"))
    {
        var tenant = User.FindFirst(c => c.Type == "appTenantName").Value; 
        <li>
            <select class="navbar-text" id="tenants" onchange="selectTenant();">
                <option class="navbar-text" value="@tenant">@tenant</option>
                @foreach (var t in User.FindAll(c => (c.Type == "appTenants") && (c.Value != tenant)).Select(c => c.Value))
                {
                    <option  class="navbar-text" value="@t">@t</option>
                }
            </select>
        </li>
    }
    @*<li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li>*@
    <li class="navbar-text"><a asp-area="" asp-controller="Home" asp-action="SignOut">Sign out</a></li>
</ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewTenant">Create new tenant</a></li>
    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MemberSignIn">Sign-in</a></li>
</ul>
}