@model B2CMultiTenant.Models.Invitee

@{
    ViewData["Title"] = "Invite member";
}

<h1>Invite</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        @if (string.IsNullOrEmpty(Model.InvitationUrl))
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <!--label asp-for="Email" class="control-label"></!--label-->
                    <label>Invitee email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!--div class="form-group">
                <label asp-for="IsAdmin" class="control-label"></label>
                <input asp-for="IsAdmin" class="form-control" />
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div-->
                <div class="form-group">
                    <input type="submit" value="Invite" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <h5>Share the following link with the invited user.</h5>
            <p contenteditable="true" id="invitationUrl" style="margin-right:30px">@Model.InvitationUrl</p>
            <!--button onclick="copyToCB('invitationUrl')">Copy</!--button-->
            <!--dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InvitationUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InvitationUrl)
            </dd>
        </dl-->
        }
    </div>
 </div>

<div>
    <a asp-action="Invite">Invite another</a>
    <a asp-action="Index">Back to List</a>
</div>

